
<!DOCTYPE html>
<html>
<head>
	<title>TOURGETHER</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/css/style3.css"/>
  

</head>

<body>
	<div class="container">
		<section id="banner">
				<header class="header"><strong>TOURGETHER</strong></header>
			<div class="banner-text">
				<h1>Discover your favorite place with us</h1>
				<p>Everything you need to know to plan your next trip<br>Create a fully customized day by day itinerary for free</p>
			</div>
			<div class="banner-button">
				<a href="http://localhost:8080/login"><button id="open-button" type="button" class="btn-left" onclick="openForm()">Log in </button></a>
				<button type="button" class="btn-right">Download App</button>
			</div>

		</section>

		<nav class="navbar">
			<div class="menu">
				<div class="line line-1"></div>
				<div class="line line-2"></div>
				<div class="line line-3"></div>
			</div>
			<ul class="nav-list">
				<li class="nav-item">
					<a href="#" class="nav-link">Home</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link">Offers</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link">Trips</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link">About us</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link">Contact</a>
				</li>
			</ul>
		</nav>
	</div>
	<a href="#" class="play" onclick="toggle()"><img src="/image/play.png"></a>
	<div class="video">
		<video src="/video/tunis.mp4" controls="true"></video>
		<img src="/image/close.png" class="close" onclick="toggle()">
	</div>


	<!--Form Section-->
	<div class="bg-model" id="form">
		<div class="form-box">
			<!--<div id="close" class="ferme">+</div>-->
			<div class="btt-box">
			  <div id="btt"></div>
			  <button type="button" class="toggle-btt" onclick="log()">Log In</button>
			  <a href="http://localhost:3000/register"><button type="button" class="toggle-btt" onclick="register()">Register</button></a>
			</div>
			<div class="social-icons">
				<img src="/image/gg.png">
			  <img src="/image/tw.png">
			  <img src="/image/fb.png">
			</div>
			<form id="log" class="input-group" action="/login" method="POST">
			  <input type="email" class="input-field" placeholder="Uder Id" name="email" required>
			  <input type="password" class="input-field" placeholder="Enter Password" name="pass" required>
			  <div class="remember"><a href="#"><br>Forgote Password ?<br></a></div>
			  <button type="submit" class="submit-btt">Log in</button>      
			</form>
			<form id="register" class="input-group" >
				<input type="text" class="input-field" placeholder="Uder Id" name="username" required>
				<input type="email" class="input-field" placeholder="Email Id"  name="email" required>
				<input type="password" class="input-field" placeholder="Enter Password" name="pass" required>
				<input type="password" class="input-field" placeholder="Confirm Password" name="rep"  required>
				<input type="checkbox" class="check-box"required>I agree to the terms & conditions
			  <button type="submit" class="submit-btt">Register</button>      
			</form>
			<button type="button" class="close-botton" onclick="closeForm()">	<a href="http://localhost:8080">X</a></button>
		</div>
	</div>
	<script src="/js/script1.js"></script>
	

</body>
</html>